[submodule "src/synthesis"]
	path = src/synthesis
	url = https://github.com/mechtaev/repair-synthesis.git
[submodule "src/relaxed-klee"]
	path = src/relaxed-klee
	url = https://github.com/mechtaev/relaxed-klee.git
